# Ignore OS and editor files
.DS_Store
.vscode/
 
# Ignore Node.js specific files and directories
node_modules/
package-lock.json

# Ignore build output
dist/
 
# Ignore client build output (if applicable)
 
# Ignore environment-specific files
.env.local
.env.test.local
.env.production.local.
.env.production
.env.keys

# Ignore dependency logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.cache/
 
# Ignore local settings
