@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');


*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --handle-size: 3rem;
  --img-gap: .60rem
}


.movie-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.award-show {
  font-size: 1.75rem;
  padding-left: .45rem;
  color: white;
}

.header-title {
  display: flex;
  justify-content: space-between;
  padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}

.handle {
  border: none;
  border-radius: 1rem;  
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  background-color: #20202000;
  backdrop-filter: blur(1px); 
  visibility: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  background: linear-gradient(to left, #3f3f3f, #3f3f3f53);
  backdrop-filter: blur(1px); 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover .chevron,
.handle:focus .cehvron {
  transform: scale(1.4);
}

.chevron {
  margin-bottom: 250%;
  z-index: -1;
  user-select: none;
  transition: transform 150ms ease-in-out;
}

.slider {
  --items-per-screen: 6;
  --slider-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.movie-card {
  position: relative;
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  padding: var(--img-gap);
  margin-bottom: 6.25rem;
}

.poster-container {
  position: relative;
  border-radius: 0.75rem;  
  overflow: hidden;     
  background-color: black;
  aspect-ratio: 2/3;
  margin-bottom: 12px;
  box-shadow: 5px 5px 10px #000000;

}

.poster-container:hover {
  border: 3px solid #ffffff; 
}

.poster-container:hover > .buttons-container > .play-button {
  visibility: visible;
}

.poster {  
  width: 100%;
  border-radius: 0.75rem;
  height: 100%;  
}


.poster:hover {  
  transform: scale(1.03);
  opacity: 0.3;
  transition: transform 1s;
  
}

.buttons-container {
  pointer-events: none;
  margin:0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  pointer-events: none;
  visibility: hidden;
  color: #fff;
  font-size: 1.75rem;
}

.mobile-play-button {
  display: none;
  pointer-events: none;
  visibility: hidden;
  color: #fff;
  border-color: transparent transparent transparent #ffffff;
  border-style: solid;
  border-width: 15px 0 15px 28px;
}

.movie-details {
  position:absolute;
  color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  flex-wrap: wrap;
  padding: var(--img-gap);
  padding-top: 0px;  
    
}

.title-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  width: 100%;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top:.22rem;
  margin-bottom: .35rem;
}

.title-year {
  white-space: nowrap;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.title-rating {
  white-space: nowrap;
  text-align: center;
  min-width: 1.5rem;
  border-radius: 5px;
  background-color: #66666669;
  margin-left:auto;
  margin-right:14px;
  font-weight: 800;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;

}

.title-imdb {
  white-space: nowrap;
  display: flex;
  align-content: center;
  width: 100%;
  font-size: .80rem;
  letter-spacing: 0.15px;
}

.title-imdb img {
  margin-top: 1.75px;
  margin-right: 4px;
  width: 14px;
  height: 14px;
}


@media (max-width:2560px) {
  .movie-card > a > img {
    max-height: 530px;
  }
}

@media (max-width:1440px) {
  .slider {
    --items-per-screen: 5;
  }
  .movie-card > a > img {
    max-height: 330px;
  }
}

@media (max-width:1024px) {
  .slider {
    --items-per-screen: 4;
  }
  .movie-card > a > img {
    max-height: 275px;
  }
}
@media (max-width:768px) {
  .slider {
    --items-per-screen: 3;
  }

}


@media (max-width:600px) {

  :root {
    --handle-size: 2.5rem;
    --img-gap: 0.5rem;
  
  }
  
  .slider {
    --items-per-screen: 3;
  }

  .movie-card {
    margin-bottom: 4rem;
  }
  
  .header-title{
    overflow: hidden;
    padding: .1rem calc(var(--img-gap) * 1 + var(--handle-size));
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title-name {
    font-size: small;
    margin-bottom: .125rem;
  }
  .title-year , .title-rating {
    display: none;
  }


  .movie-card > a > img {
    width: 100%;
    padding: .20rem;
    aspect-ratio: 4/5;
  }
  
  .handle {
    border-radius: 0;
    margin:  0;
    width: var(--handle-size);
    padding-top: 2.5rem;
  }

  .left-handle {
    margin-left: 24px;
  }

}

@media (max-width:425px) {
  .slider {
    --items-per-screen: 2.25;
  }

  .award-show {
    font-size: 1.25rem;
  }

  .movie-details {
    margin:0px;
    padding-left: 0.75rem
  }
  
}

@media only screen and (max-width: 768px) and (pointer: coarse) {

  @media (max-width:768px) {
    .slider {
      --items-per-screen: 3.25;
    }
  
  }
  @media (max-width:425px) {
    .slider {
      --items-per-screen: 2.25;
    }
  }
  .movie-container{
    width: 90%;
    margin: auto;
  }
  .slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto 1.25rem auto;

  }
  .handle {
    display: none;
  }
  .header-title {
    padding-left: 8%;
  }
  .play-button {
    display: none;
  }
  .mobile-play-button {
    display: inline;
  }
  .poster-container:hover > .buttons-container> .mobile-play-button {  
    visibility: visible;
  }
}