@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');


*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --handle-size: 3rem;
  --img-gap: 1rem;

}


.movie-container {
  display: flex;
  justify-content: center;
  overflow: hidden;


}

.award-show {
  font-size: 1.75rem;
  padding-left: .45rem;
  color:white;
}

.header-title {
  display: flex;
  justify-content: space-between;
  padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}


.slider {
  --items-per-screen: 6;
  --slider-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.movie-card {
  position: relative;
  border-color: white;
  border: dotted 5px;
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 4/5;
  margin-bottom: 6.25rem;
}

.movie-card > a > img:active {
  z-index: 100;
  outline: 5px solid grey;
}

.movie-card > a > img {
  width: 100%;
  padding: var(--img-gap);
  padding-bottom: 4px;
  background-clip:padding-box;
  aspect-ratio: 4/5!;
}


.movie-details {
  position:absolute;
  color: rgba(255, 255, 255, 0.75);
  background-color: black;
  overflow: hidden;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding: var(--img-gap);
  padding-top: 0px;  
  
}

.title-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  color: white;
  width: 100%;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.title-year {
  white-space: nowrap;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.title-rating {
  white-space: nowrap;
  border-radius: 5px;
  background-color: #666666;
  margin-left: auto;
  margin-right:4px;
  font-weight: 800;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;

}

.title-imdb {
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
  padding-left: 4px;
  letter-spacing: 0.15px;


}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  visibility: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



.text {
  margin-bottom: 95px;
  z-index: -1;
  user-select: none;
  transition: transform 150ms ease-in-out;

}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}



.progress-bar {
  display: flex;
  gap: .25rem;
}

@media (max-width:2560px) {
  .movie-card > a > img {
    max-height: 530px;
  }
}

@media (max-width:1440px) {
  .slider {
    --items-per-screen: 5;
  }
  .movie-card > a > img {
    max-height: 330px;
  }
}
@media (max-width:1024px) {
  .slider {
    --items-per-screen: 4;
  }
  .movie-card > a > img {
    max-height: 275px;
  }
}
@media (max-width:768px) {
  .slider {
    --items-per-screen: 3;
  }
  .movie-card > a > img {
    max-height: 265px;
  }
}


@media (max-width:600px) {
  .slider {
    --items-per-screen: 3;
  }

  .movie-card {
    margin-bottom: 3rem;
  }
  .header-title{
    overflow: hidden;
    padding: .1rem calc(var(--img-gap) * 1 + var(--handle-size));
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title-name {
    font-size: small;
  }
  .title-year , .title-rating, 
  .title-imdb {
    display: none;
  }


  .movie-card > a > img {
    width: 100%;
    padding: .20rem;
    aspect-ratio: 4/5;
  }
  
  .handle {
    padding: .25rem;
  }

}

@media (max-width:425px) {
  .slider {
    --items-per-screen: 2;
  }
  .award-show {
    font-size: 1.25rem;
  }
  .movie-details {
    margin:0px;
    padding-left: .25rem
  }
}